##############################
###      Floders     #########
##############################
InstallArea/
Deconvolution/
PMTCalib/share/run-sample-step2-*sh
PMTCalib/share/sub.sh
*/amd64_linux26/
*/share/*.txt
*/share/*.root
*csv
*.err.*
*.out.*
